aiohttp==3.4.4
async-timeout==3.0.1
asyncio==3.4.3
attrs==18.2.0
certifi==2018.10.15
chardet==3.0.4
get==2018.11.19
googleapis-common-protos==1.5.5
grpcio==1.16.0
grpcio-tools==1.16.0
idna==2.7
jsonschema==2.6.0
multidict==4.4.2
post==2018.11.20
protobuf==3.6.1
public==2018.11.20
python-dateutil==2.7.5
pytz==2018.7
query-string==2018.11.20
request==2018.11.20
requests==2.20.1
six==1.11.0
socketIO-client==0.7.2
urllib3==1.26.5
websocket-client==0.54.0
websockets==7.0
yarl==1.2.6
